body{
    padding: 50px;

}

.principal {
    padding: 40px 15px;
    text-align: center;
}

.adicionado-sucesso{
    background-color: rgb(190, 238, 193);
    font-size: 1.5vw;
    color: green;
}

.adicionado-erro{
    background-color: rgb(250, 145, 145);
    font-size: 1.5vw;
    color: black;
}